.container input{

  background-color: rgb(92, 92, 92);
  color: rgb(255, 255, 255);
  height: 60px;
  width: 100px;
  margin: 1px;
  font-size:xx-large;
}

.container{
  height: 300px;
  width: 550px;



}



.container input:hover{
  color: rgb(244, 235, 0);
  font-weight:bold;
}

.full{

  border:1px solid rgb(0, 0, 0);
  margin: 1px;
  /* padding:12px; */


}

input[type="text"]{
  color:rgb(255, 255, 255);
  text-align: center;
}
